# Compiled class files
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear

# JVM crash logs
hs_err_pid*

# Build folders
/target/
/build/
/out/

# VS Code
.vscode/

# IntelliJ
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# OS files
.DS_Store
Thumbs.db